*{
    margin:0;
    padding:0
}
body{
    color: white;
    background-color: rgb(192, 144, 144);
}

/*Fomulario 1*/
.form1{
    padding: 10px;
    background-color: rgb(136, 91, 91);
    border: 5px solid rgb(209, 92, 37);
    border-radius: 10px;
}

/*Formulario 2*/
.form2{
    padding: 10px;
    background-color: rgb(124, 124, 168);
    border: 5px solid rgb(24, 63, 51);
    border-radius: 10px;
}
.form3{
    padding: 20px;
    background-color: rgb(88, 55, 55);
}
.Campos{
    display:inline-block;
    width: 130px;
    height: 30px;
}
.entradas{
    color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
}
legend.titulo{
    padding: 10px;
    text-align: center;
    border-bottom: none;
    color: white;
    background-color: rgb(43, 22, 22);
}
input.button{
    display:block;
    padding: 10px;
    color: white;
    background-color: rgb(27, 13, 13);
    width: 100%;
}
input.button:hover{
    background-color: white;
    color:black

}

header{
    background-color: rgb(63, 5, 5);
    padding: 10px;

}